.vscode/
build/
DynamicMemory
PassByReference
PostfixOperation
PrefixOperation
Stack
DSA.code-workspace
Factorial
FibonacciSequence
StringReversal
TowerOfHanoi
ReturningPointers
tempCodeRunnerFile
Calloc
Realloc
Malloc
Free
LinkedList
SinglyLinkedList
DoublyLinkedList
CircularSinglyLinkedList
LLpractice*
